/* Arrow Passive Styles */

#down-arrow {

	z-index:500;

	#arrow {

		#arrow-icon {
			
			font-size:70px;
			cursor: pointer;

		}
	}
}

/* Arrow Keyframes */

@include keyframes( leftarrow-hover ) {
	0% {
		@include transform( 
			translate(-8pt,0pt)
			rotate(-60deg)
		);	
	}
	25% {
		@include transform( 
			translate(-7.8pt,0pt)
			rotate(-57deg)
		);
	}
	30% {
		@include transform( 
			translate(-7.5pt,0pt)
			rotate(-55deg)
		);
	}
	75% {
		@include transform( 
			translate(-7.3pt,0pt)
			rotate(-55deg)
		);
	}
	100% {
		@include transform( 
			translate(-7.05pt,0pt)
			rotate(-50deg)
		);
	}
}

@include keyframes( rightarrow-hover ) {
	0% {
		@include transform( 
			translate(8pt,0pt)
			rotate(60deg)
		);	
	}
	25% {
		@include transform( 
			translate(7.8pt,0pt)
			rotate(57deg)
		);
	}
	50% {
		@include transform( 
			translate(7.5pt,0pt)
			rotate(55deg)
		);
	}
	75% {
		@include transform( 
			translate(7.3pt,0pt)
			rotate(55deg)
		);
	}
	100% {
		@include transform( 
			translate(7.05pt,0pt)
			rotate(50deg)
		);
	}
}
