body {
	position: relative;
}

.row {
	position: relative;
	overflow: hidden;
}

*[class^="col-"], *[class*=" col-"] {
	box-sizing:border-box;
	//padding:10px;
}


.m5 {
	margin-bottom: 5em;
}

.m4 {
	margin-bottom: 4em;
}

.m3 {
	margin-bottom: 3em;
}

.m2 {
	margin-bottom: 2em;
}

.m1 {
	margin-bottom: 1em;
}

.mt5 {
	margin-top: 5em;
}

.mt4 {
	margin-top: 4em;
}

.mt3 {
	margin-top: 3em;
}

.mt2 {
	margin-top: 2em;
}

.mt1 {
	margin-top: 1em;
}

.m0 {
	margin:0;
}

.padding {
	padding-top:3em;
	padding-bottom:3em;
}


.no-overflow {
	overflow:hidden;
}

.hidden {
	display: none;
}

.opaque {
	opacity: 1;
}


.vertical-center-strict {
	position:absolute;
	top: 50%;
	@include transform( translateY(-50%) );
}

.vertical-center {
	display:block;

	@media (min-width: $screen-sm) { 
		position:absolute;
		top: 50%;
		@include transform( translateY(-50%) );
	}
	@media (max-width: $screen-sm ) {
		display: block;
	}

}

.horizontal-center {
	position:absolute;
	left: 50%;
	@include transform( translateX(-50%) );
}

.absolute {
	z-index: 1000;
}

.pointer {
	cursor:pointer;
}


.visible-sm {
	@media (min-width: $screen-sm) {
		display:none;
	}
}

.hidden-xs {
	@media (max-width: $screen-xs) {
		display:none;
	}
}

.visible-xs {
	@media (min-width: $screen-xs) {
		display:none;
	}
}

.hidden-sm {
	@media (max-width: $screen-sm) {
		display:none;
	}
}

.visible-sm {
	@media (min-width: $screen-sm) {
		display:none;
	}
}

.hidden-lg {
	@media (max-width: $screen-lg) {
		display:none;
	}
}

.visible-lg {
	@media (min-width: $screen-lg) {
		display:none;
	}
}

.skew-down {
	@include transform( skewY( 2deg ) translateY(5%) );
}

.skew-up {
	@include transform( skewY( -2deg ) translateY(-5%) );
}

.brand-box {
	height:50%;
}

.image-box {

	background-color:transparent !important;

	img {
		width: 100%;

	}
}

.fixed {
	position: fixed;
}

.relative {
	position: relative;
}

.button {
	@extend .pointer;

	height: 100px;
	position:relative;
	$radius: 10px;
	@include border-radius($radius,$radius,$radius,$radius);
	@include box-shadow(-8px,8px,5px,lighten($dark-gray,3));

	* {
		position:absolute;
		top:32%;
		left:50%;
		@include transform( translate(-50%, -50%) );
	}
}


