@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_variables';


// Colors
$callout-color: darken( crimson, 5 );
$brand-color: #2baeb5;
//$brand-color: #002fa7;
$white: #fff;
$gray: #eee;
$pink: pink;
$red: red;

$dark-gray: darken( $gray, 65 );

// Type
$alinea-space: 2em;

